.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 1000px;
  background-color: red;
  margin: auto;
}

.wrapper__block {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin-top: 20px;
}
